<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://77.244.44.21:5432/libdb" />
        <property name="username" value="postgres" />
        <property name="password" value="xfqfksqSasha" />
    </bean>


    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>
                <value>com.entity.Book</value>
                <value>com.entity.JoinUserBook</value>
                <value>com.entity.Range</value>
                <value>com.entity.User</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.PostgreSQLDialect
                </prop>
                <prop key="hibernate.show_sql">
                    true
                </prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.generate_statistics">
                    true
                </prop>
                <prop key="hibernate.hbm2ddl.auto">
                    update
                </prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="persistenceExceptionTranslationPostProcessor"
          class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>



    <bean id="UserDao" class="com.dao.impl.UserDaoImpl" >
    <property name="sessionFactory" ref="sessionFactory" /></bean>

    <bean id="BookDao" class="com.dao.impl.BookDaoIpl" >
        <property name="sessionFactory" ref="sessionFactory" /></bean>

    <bean id="JoinUserBookDao" class="com.dao.impl.JoinUserBookDaoImpl" >
        <property name="sessionFactory" ref="sessionFactory" /></bean>

    <bean id="RangeDao" class="com.dao.impl.RangeDaoImpl" >
        <property name="sessionFactory" ref="sessionFactory" /></bean>

    <bean id="Service" class="com.services.JoinServiceImpl" >
        </bean>

</beans>